@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
*{
	margin:0;
	border:0;
	padding: 0;
	box-sizing: border-box;
	background:var(--bgColor);
	scroll-behavior: smooth;
  	outline:none;
}
body{
	height: 100vh;
	overflow:hidden;
}
.container{
	display: flex;
	width: 100%;
	height: 100%;
	overflow-x:hidden ;
}
.page{
	min-width: 100%;
	height: 100%;
	position:relative;
}
.first{
	background:url('/images/1.png') no-repeat left bottom;
	background-size: contain;
	background-color:#120F0F;
	color:#FFF;
	overflow:hidden;
}
.first p, .second p{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}
.first p:nth-child(1), .second p:nth-child(1){
	margin-top: 10rem;
	font-size: 5rem;
	font-family: 'Major Mono Display', monospace;
}
.first p:nth-child(2), .second p:nth-child(2){
	font-family: 'Playball', cursive;;
	font-size: 2rem;
}
.second{
	background:url('/images/2.png') no-repeat right bottom;
	background-size: contain;
	background-color:#FFF;
	overflow:hidden;
}
.dots{
	visibility: hidden;
}
.dots .dot{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	position: fixed;
	background-color: rgb(161, 161, 161);
}
.dots .dot:nth-child(1){
	top:calc(100% - 4rem);
	left: calc(100% - 60%);
}
.dots .dot:nth-child(2){
	top:calc(100% - 4rem);
	left: calc(100% - 45%);
}
.dots .active{
	background-color: rgb(255, 245, 106);
	border:1px solid rgb(255, 245, 106);
}
@media screen and (max-width: 600px){
	.container{
		overflow-x:hidden;
		overflow-y: hidden;
	}
	.first p:nth-child(2){
		font-size: 2rem;
		top: 14rem;
	}
	.second{
		background-size: 300px 600px;
	}
	.second p:nth-child(1){
		bottom:calc(100% - 20rem);
		left:calc(100% - 15rem);
		font-size: 3rem;
	}
	.second p:nth-child(2){
		font-size: 1.8rem;
		top:calc(100% - 20rem);
		left:calc(100% - 15rem);
	}
	.dots{
		visibility: visible;
	}

}


